* {
    box-sizing: border-box;
}
a:hover {
    text-decoration: none;
}
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?riz2dp');
    src:  url('fonts/icomoon.eot?riz2dp#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?riz2dp') format('truetype'),
      url('fonts/icomoon.woff?riz2dp') format('woff'),
      url('fonts/icomoon.svg?riz2dp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-python:before {
    content: "\e900";
    color: #3776ab;
  }
  .icon-mail2:before {
    content: "\ea84";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  .icon-linkedin2:before {
    content: "\eaca";
  }


body {
    font-family: 'Montserrat', sans-serif;
}

#escritorio {
    display: none;
}
#construccion {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
header {
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)), url('../img/fondo_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#headerBrand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


.social {
    position: fixed;
    /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
    left: 0;
    /* Establecemos la barra en la izquierda */
    top: 50%;
    /* Bajamos la barra 200px de arriba a abajo */
    z-index: 2000;
    /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    /* Establecemos una transición a todas las propiedades */
}

.social ul li .icon-facebook {
    background: #3b5998;
}

/* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .icon-twitter {
    background: #00abf0;
}

.social ul li .icon-instagram {
    background: #E1306C;
}

.social ul li .icon-pinterest {
    background: #ae181f;
}

.social ul li .icon-mail2 {
    background: #666666;
}

.social ul li a:hover {
    background: #000;
    /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 10px 30px;
    /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}

.social {
    position: fixed;
    /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
    left: 0;
    /* Establecemos la barra en la izquierda */
    top: 75%;
    /* Bajamos la barra 200px de arriba a abajo */
    z-index: 2000;
    /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
    list-style: none;
    padding: 0;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    /* Establecemos una transición a todas las propiedades */
}

.social ul li .icon-facebook {
    background: #3b5998;
}

/* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .icon-twitter {
    background: #00abf0;
}

.social ul li .icon-googleplus {
    background: #d95232;
}

.social ul li .icon-pinterest {
    background: #ae181f;
}

.social ul li .icon-mail {
    background: #666666;
}

.social ul li a:hover {
    background: #000;
    /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 10px 30px;
    /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}

ul {
    list-style: none;
}

nav#barraMenu {
    z-index: 10;
    width: 100%;
    position: fixed;
    background-color: white;

}

div#portada1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/productos.jpg);
    /* Set a specific height */
    min-height: 45vh;
    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div#portada2 {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/servicios.jpg);
    /* Set a specific height */
    min-height: 45vh;
    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div#banner1 {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1D1047;
}

.tituloIndex {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px black;
}


@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    max-width: 90vw;
}

.slider::before,
.slider::after {
    background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: -webkit-box;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: 250px;
}

div.dropdown-menu.show {
    border: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

#logo {
    width: 70%;
}
#navbarSupportedContent {
    justify-content: center;
}


div#banner1 {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div#banner2 {
    width: 100%;
    height: 25vh;
}

h1 {
    text-align: center;
}

div iframe {
    height: 40vh;
}

span.display-3 {
    font-weight: 300;
    margin: -10% 0 -10% 0;
}

div#faqs {
    padding-top: 5%;
}

div#contacto {
    width: 70%;
}

img.logoredes {
    width: 5%;
}

footer {
    width: 100%;
    background-color: rgb(80, 80, 80);
    color: white;
}

span#empresas {
    margin-left: auto;
    margin-right: auto;
}

iframe {
    width: 100%;
    height: 50%;
}

.grid-layout {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    

}

.grid-item {
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    background-color: #00acf060;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.span-3 {
    grid-column-end: span 3;
    grid-row-end: span 4;
}
#whatsapp {
    position: fixed;
    top: 85%;
    left: 80%;
}
#whatsapp img {
    transition:all 1s;
    width: 65%;
}
#whatsapp img:hover {
    transform: scale(1.25);
}
#whatsapp img:active {
    transform: scale(0.80);
}



@media(min-width: 1000px) {
    #escritorio {
        display: initial;
    }
    #mobile {
        display: none;
    }
    nav#barraMenu {
        width: 100%;
        position: fixed;
        background-color: transparent;
    }
    .navbar-fixed.scrolled {
        background-color: rgba(255,255,255,0.8) !important;
        transition: background-color 200ms linear;
      }
    img#logo {
        width: 30%;
    }
    span.nav-item.dropdown {
        display: flex;
    }
    div#portada1 {
        transition: drop-shadow .2s;
        display: flex;
        justify-content: center;
        /* Set a specific height */
        min-height: 85vh;
        /* Create the parallax scrolling effect */
        /* background-attachment: fixed; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    div#portada2 {
        transition: font-size 1s;
        margin-top: 0;
        display: flex;
        justify-content: center;
        /* Set a specific height */
        min-height: 85vh;
        /* Create the parallax scrolling effect */
        /* background-attachment: fixed; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    div#portadas {
        margin-top: 3%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10%;
    }


    li.nav-item {
        font-weight: bold;
        font-size: 1rem;
    }

    ul#redes {
        padding: 0;
    }

    .content {
        padding: 16px;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .sticky+.content {
        padding-top: 60px;
    }

    div#faqs {
        padding-top: 5%;
    }

    div#carousel {
        margin-top: 0%;
    }

    .social {
        position: fixed;
        /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
        left: 0;
        /* Establecemos la barra en la izquierda */
        top: 45%;
        /* Bajamos la barra 200px de arriba a abajo */
        z-index: 2000;
        /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
    }

    .social ul {
        list-style: none;
    }

    .social ul li a {
        display: inline-block;
        color: #fff;
        background: #000;
        padding: 10px 15px;
        text-decoration: none;
        -webkit-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        /* Establecemos una transición a todas las propiedades */
    }

    .social ul li .icon-facebook {
        background: #3b5998;
    }

    /* Establecemos los colores de cada red social, aprovechando su class */
    .social ul li .icon-twitter {
        background: #00abf0;
    }

    .social ul li .icon-instagram {
        background: #E1306C;
    }

    .social ul li .icon-pinterest {
        background: #ae181f;
    }

    .social ul li .icon-mail2 {
        background: #666666;
    }

    .social ul li a:hover {
        background: #000;
        /* Cambiamos el fondo cuando el usuario pase el mouse */
        padding: 10px 30px;
        /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
    }

    .social {
        position: fixed;
        /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
        left: 0;
        /* Establecemos la barra en la izquierda */
        top: 50%;
        /* Bajamos la barra 200px de arriba a abajo */
        z-index: 2000;
        /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
    }

    .social ul {
        list-style: none;
    }

    .social ul li a {
        display: inline-block;
        color: #fff;
        background: #000;
        padding: 10px 15px;
        text-decoration: none;
        -webkit-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        /* Establecemos una transición a todas las propiedades */
    }

    .social ul li .icon-facebook {
        background: #3b5998;
    }

    /* Establecemos los colores de cada red social, aprovechando su class */
    .social ul li .icon-twitter {
        background: #00abf0;
    }

    .social ul li .icon-googleplus {
        background: #d95232;
    }

    .social ul li .icon-pinterest {
        background: #ae181f;
    }

    .social ul li .icon-mail {
        background: #666666;
    }

    .social ul li a:hover {
        background: #000;
        /* Cambiamos el fondo cuando el usuario pase el mouse */
        padding: 10px 30px;
        /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
    }

    #gif {
        width: 50%;
        height: 50vh;
    }

    div.card.mb-3 {
        border: none;
    }

    .tituloIndex {
        font-size: 4rem;
    }
    img.card-img {
        height: 100%;
    }
    #whatsapp {
        position: fixed;
        top: 90%;
        left: 93%;
    }
    #whatsapp img {
        transition:all 1s;
        width: 45%;
    }
    #whatsapp img:hover {
        transform: scale(1.25);
    }
    #whatsapp img:active {
        transform: scale(0.80);
    }
    div#medicas {
        display:flex;
        align-items: center;
    }
    ul#ulFooter {
        font-size: 0.9em;
    }
    div#infoFooter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
}

}